@model IEnumerable<MvcBlog.Models.Yorum>
@{
    Layout = null;
}
<h5 class="card-header">Son yorumlar</h5>

<div class="row">
    <div class="col-lg-12">
        <ul class="list-unstyled card-body">
            @foreach (var item in Model)
            {
                <li class="list-group-item"><a href="/Home/MakaleDetay/@item.MakaleId">@item.Icerik</a></li>
            }
        </ul>
    </div>
</div>